<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duxl.mobileframe" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application>
        <activity android:name=".demo.MainActivity" />

<!--
    <application android:name=".MobileFrameApp">
        <activity android:name=".demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 -->

        <activity android:name=".BaseActivity" />

        <activity android:name=".demo.TestOkHttpActivity" android:label="http/HttpRequest-okHttp">
            <intent-filter>
                <action android:name="com.duxl.mobileframe.TestAction"/>
            </intent-filter>
        </activity>

        <activity android:name=".demo.TestRoundImageViewActivity" android:label="控件/圆角图片">
            <intent-filter>
                <action android:name="com.duxl.mobileframe.TestAction"/>
            </intent-filter>
        </activity>

        <activity android:name=".demo.TestVersionUpdateActivity" android:label="控件/版本更新">
            <intent-filter>
                <action android:name="com.duxl.mobileframe.TestAction"/>
            </intent-filter>
        </activity>

        <activity android:name=".demo.TestSlideViewActivity" android:label="控件/侧滑删除">
            <intent-filter>
                <action android:name="com.duxl.mobileframe.TestAction"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
